*~
Berksfile.lock
build-info.json
buildNumber.properties
.classpath
dependency-reduced-pom.xml
.env
.gradle
gradle
gradlew
gradlew.bat
.idea/
*.iml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
overlays/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
.project
release.properties
.settings/
target/
.vagrant
.vscode/

# Debricked files
maven.debricked.lock
gomod.debricked.lock
debricked.fingerprints.txt
.gradle-init-script.debricked.groovy
